MONGO_URI=

JWT_SECRET=

BLOB_READ_WRITE_TOKEN=

# Default Admin Account (for seeding)
DEFAULT_ADMIN_NAME=
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=

# Secret key to protect the seed endpoint
ADMIN_SEED_SECRET=your-secret-key-here