MONGO_URI=

JWT_SECRET=

BLOB_READ_WRITE_TOKEN=

# Default Admin Account (for seeding)
DEFAULT_ADMIN_NAME=Administrador
DEFAULT_ADMIN_EMAIL=admin@tecnoimagendental.com
DEFAULT_ADMIN_PASSWORD=Admin123!

# Secret key to protect the seed endpoint
ADMIN_SEED_SECRET=your-secret-key-here